{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Calender</title>
{% endblock title %}

{% block css %}
{% endblock css %}


{% block page_content %}

<div class="row">
    <div class="col-md-12">
        <div class="">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body border-bottom">
                            <h4 class="card-title mt-2">Create an Event</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <button data-toggle="modal" data-target="#add-new-event"
                                        class="btn mt-3 btn-info btn-block waves-effect waves-light">
                                        <i class="ti-plus"></i> Add New Event
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-body calender-sidebar">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN MODAL -->
<div class="modal none-border" id="my-event">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Add Event</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-event waves-effect waves-light">Create
                    event</button>
                <button type="button" class="btn btn-danger delete-event waves-effect waves-light"
                    data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Category -->
<div class="modal fade none-border" id="add-new-event">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Add</strong> an Event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="event_summary" class="control-label">Event Summary</label>
                            <textarea name="event_summary" id="event_summary" rows="5" class="form-control"></textarea>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="event_start_date" class="control-label">Start Date</label>
                            <input type="date" name="event_start_date" id="event_start_date" class="form-control">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="event_end_date" class="control-label">End Date</label>
                            <input type="date" name="event_end_date" id="event_end_date" class="form-control">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="event_start_time" class="control-label">Start Time</label>
                            <input type="time" name="event_start_time" class="form-control" id="event_start_time">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="event_end_time" class="control-label">End Time</label>
                            <input type="time" name="event_end_time" class="form-control" id="event_end_time">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="event_location" class="control-label">Location</label>
                            <input type="text" name="event_location" class="form-control" id="event_location">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label">Choose Color</label>
                            <select class="form-control form-white" data-placeholder="Choose a color..."
                                name="category-color">
                                <option value="success">Success</option>
                                <option value="danger">Danger</option>
                                <option value="info">Info</option>
                                <option value="primary">Primary</option>
                                <option value="warning">Warning</option>
                                <option value="inverse">Inverse</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect waves-light save-category"
                    data-dismiss="modal">ADD</button>
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->


{% endblock page_content %}

{% block custom_js %}
<script>
    $('.nav-item').removeClass('active');
    $('.nav-item-2').addClass('active');
</script>
{% endblock custom_js %}