<!DOCTYPE html>
{% load static %}
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>Password Reset Done</title>

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">

</head>

<body>
    <div class="main-wrapper">
        <div class="auth-wrapper d-flex justify-content-center" style="background:#f6f6f6;">
            <div class="auth-box" style="max-width:100%!important;">
                <div class="d-flex justify-content-center my-5">
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top; padding-bottom:30px;" align="center">
                                    <a href="/">
                                        <img src="{% static 'assets/images/logos/logo-icon.png' %}" alt="logo"
                                            style="border:none">
                                        <br />
                                        <img src="{% static 'assets/images/logos/logo-text.png' %}" alt="img"
                                            style="border:none">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="loginform">
                    <div class="row mt-5">
                        <div class="col-sm-12 text-center">
                            <h2 class="">
                                We’ve emailed you instructions for setting your password,
                                <br>
                                if an account exists with the
                                email you entered. You should
                                receive them shortly.
                            </h2>
                            <p class="text-muted">If you don’t receive an email, please make sure you’ve entered the
                                address you registered
                                with, and check your spam folder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
</body>

</html>

<!-- <h3>Password reset sent</h3>


<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should
    receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam
    folder.</p> -->