{% extends 'base.html'%}
{% load static %}

{% block title %}<title> Password Reset Completed</title>{% endblock title %}


{% block content %}
<div class="d-flex justify-content-center p-5 bg-light vh-100">
    <div class="card text-center pt-4 px-5 pb-0 mb-0">
        <div class="card-body mb-0 pb-0">
            <div class="logo">
                <span class="db">
                    <img src="{% static 'assets/images/logos/logo-icon.png' %}" alt="logo" width="40" />
                </span>
                <h5 class="font-medium mb-3">Password Set</h5>
            </div>
            <hr>
            <div class="card-text mt-5">
                <div class="row">
                    <div class="col-12">
                        <h3>Password reset complete</h3>
                        <p class="my-4">Your password has been set. You may go ahead and log in now.</p>

                        <a class="btn btn-outline-info waves-effect waves-light rounded px-5"
                            href="{% url 'login' %}">Log
                            in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}