{% extends 'base.html'%}
{% load static %}

{% block title %}<title>Set Password</title>{% endblock title %}


{% block content %}

<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:#f6f6f6;">
    <div class="auth-box py-4">
        <div>
            <div class="logo">
                <span class="db">
                    <img src="{% static 'assets/images/logos/logo-icon.png' %}" alt="logo" class="light-logo"
                        width="40" />
                </span>
                <h5 class="font-medium mb-3">Set Password</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal mt-3" method="post">
                        {% csrf_token %}
                        <small style="color:red;">{{form.non_field_errors | striptags}}</small>
                        <small style="color:red;">{{form.password1.errors | striptags}}</small>
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    <input class="form-control form-control-lg" type="password" name="new_password1"
                                        autocomplete="new-password" required="" id="id_new_password1"
                                        placeholder="New Password">
                                </div>
                            </div>
                        </div>
                        <small style="color:red;">{{form.password2.errors | striptags}}</small>
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    <input class="form-control form-control-lg" type="password" name="new_password2"
                                        autocomplete="new-password" required="" id="id_new_password2"
                                        placeholder="Confirm New Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 pb-3">
                                <button class="btn btn-block btn-lg btn-info" type="submit">Set
                                    Password</button>
                            </div>
                        </div>
                        <span class="helptext"></span>
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<form method="post">

    <input type="hidden" name="csrfmiddlewaretoken"
        value="0KvyH3Elaoba57OBOOnBva33eLk1HOIlJ16no7fsu9BBGq4zeJGjZuYKPPun3RXE">
    <p>
        <label for="id_new_password1">New password:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
        <span class="helptext"></span>
    </p>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    <p></p>
    <p>
        <label for="id_new_password2">New password confirmation:</label>
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
    </p>
    <input type="Submit" name="Update Password">

</form>