{% extends 'base.html'%}
{% load static %}

{% block title %}<title> Register </title>{% endblock title %}

{% block content %}
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url({% static 'assets/images/big/auth-bg.jpg' %}) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db">
                    <img src="{% static 'assets/images/logos/logo-icon.png' %}" alt="logo" />
                </span>
                <h5 class="font-medium mb-3">Sign Up to Admin</h5>
            </div>

            {% include 'partials/_flash_messages.html'%}

            <div class="row">
                <div class="col-12">
                    <form method="POST" class="form-horizontal mt-3" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-6 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas far fa-user-circle"></i>
                                    </span>
                                </div>
                                <!-- {{form.first_name}} -->
                                <input class="form-control form-control-lg" name="first_name"
                                    value="{{data.first_name}}" type="text" required=" " placeholder="First Name">
                            </div>
                            <div class="col-6 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas far fa-user-circle"></i>
                                    </span>
                                </div>
                                <!-- {{form.last_name}} -->
                                <input class="form-control form-control-lg" name="last_name" value="{{data.last_name}}"
                                    type="text" required=" " placeholder="Last Name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-envelope-square"></i>
                                    </span>
                                </div>
                                <!-- {{form.email}} -->
                                <input class="form-control form-control-lg" name="email" value="{{data.email}}"
                                    type="email" required=" " placeholder="Email">
                            </div>
                        </div>

                        <div class=" form-group row">
                            <div class="col-12 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fas fa-key"></i>
                                    </span>
                                </div>
                                <!-- {{form.password1}} -->
                                <input class="form-control form-control-lg" name="password" type="password" required=" "
                                    placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fas fa-key"></i>
                                    </span>
                                </div>
                                <!-- {{form.password2}} -->
                                <input class="form-control form-control-lg" name="password2" type="password"
                                    required=" " placeholder="Confirm Password">
                            </div>
                        </div>

                        <div class="form-group text-center ">
                            <div class="col-xs-12 pb-3 ">
                                <button class="btn btn-block btn-lg btn-info " type="submit ">SIGN UP</button>
                            </div>
                        </div>

                        <div class="form-group mb-0 mt-2 ">
                            <div class="col-sm-12 text-center ">
                                Already have an account?
                                <a href="{% url 'login' %}" class="text-info ml-1 ">
                                    <b>Sign In</b>
                                </a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



<!-- {#% extends 'base.html'%}
{#% load static %}
{#% block content %}
<link rel="stylesheet" href="{#% static 'css/register.css'%}">



<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">REGISTER ACCOUNT</h3>
            </div>

            

            <div class="d-flex justify-content-center form_container">


                <form method="POST" action="{#% url 'register' %}">
                    {#% csrf_token %}
                    <!-- <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>

                        </div>
                        <input class="form-control form-control-sm" type="text" name="username"
                            value="{{data.username}}" placeholder="Username..">
                        <!-- {{form.username}} -->
<!-- </div> -->
<!-- <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        <input class="form-control form-control-sm" type="email" name="email" value="{{data.email}}"
                            placeholder="Email...">
                        {{form.email}} -->
<!-- </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control form-control-sm" type="password" name="password" value=""
                            placeholder="Enter password..."> -->
<!-- {{form.password1}} -->
<!-- </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control form-control-sm" type="password" name="password2" value=""
                            placeholder="Re-enter Password..."> -->
<!-- {{form.password2}} -->
<!-- </div>



                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Register Account">
                    </div>

                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Already have an account? <a href="{#% url 'login' %}" class="ml-2">Login</a>
                </div>
            </div>

        </div>
    </div>
</div>
{#% endblock %} -->